body{
    margin: 0px;
}

.login{
    display: grid;
    grid-template-areas: 
    'kiri kanan';
    justify-content: center;
    align-items: center;
    padding: 100px;
}
#loginIMG{
    grid-area: kiri;
}

.login #formLogin{
    grid-area: kanan;
    box-sizing: border-box;
    display: grid;
    row-gap: 10px;
    padding: 100px;
}

#email{
    border-radius: 10px 10px 10px 10px;
}

#password{
    border-radius: 10px 10px 10px 10px;
}

#btnS{
    color:white;
    background: #3D5B81;
    border: 1px solid #9F9797;
    border-radius: 15px;
    width: 120px;
    height: 35px;
    left: 877px;
    top: 604px;
    align-items: center;
    justify-content: center;
}