body{
    margin: 0vh 0vw 0vh 0vw;
}

.marginKiri{
    position: absolute;
    margin: 0px;
    width: 1vw;
    height: 100%;
    background-color: #293241;
}

#logoif{
    padding: 1vh 1vw 1vh 1vw;
}

.containerLogoIF{
    height: 100%;
    background-color: #e7e7e7;
    position: absolute;
    display: flex;
}

.header{
    position: relative;
    right: 0;
    height: 10.5vh;
    background-color: #293241;
    display: flex;
    margin-left: 1vw;
}

.garisSalam{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    margin-left: 22vw;
    align-self: center;
    background-color: white;
}

.tulisanHeader{
    position: relative;
    font-family: Open Sans, sans-serif;
    color: white;
}

.tulisanSatu{
    margin-left:23vw;
    width: 20vw;
    top: -1.7vh;
    position: absolute;
    font-size:1.5625vw;
}

.tulisanDua{
    width: 30vw;
    position: absolute;
    top: 4.4vh;
    font-size: 0.78125vw;
    margin-left: 23vw;
    display: block;
}

#infoUser{
    margin-left: 1vw;
    background-color: #98c1d9;
    margin-top: 2.2546419098143238vh;
    border-radius: 0px 25px 25px 0px;
    width: 16.920833333333334vw;
    height: 7.305039787798409vh;
    display: flex;
}

#circle{
    border-radius: 50px 50px 50px 50px;
    width: 2.2786458333333335vw;
    height: 4.641909814323608vh;
    background-color: #ee6b4d;
    margin-left: 0.5vw;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first_letter{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.nama{
    font-family: Open Sans;
    top: -3vh;

}

#fitur{
    bottom: 0;
    /* height: 80%;
    width: 170px;
    margin-top: -10px;
    margin-left: 10px; */
    height: 76.2vh;
    margin-left: 1vw;
    background-color: #3d5a80;
    position: fixed;
    display: grid;
    grid-template-areas: 
    'kiri1 kanan1'
    'kiri2 kanan2'
    'kiri3 kanan3'
    'kiri4 kanan4'
    'kiri5 kanan5';
    grid-template-rows: 35px 35px 35px 35px 35px;
    grid-template-columns: 40px 145px;
}

#iconDaftarT{
    margin: 10px;
    width: 15px;
    height: 15px;
    grid-area: kiri1;
}

#buttonDT{
    text-align: left;
    margin: 9px;
    background: #3D5A80;
    color: white;
    border: 0px;
    grid-area: kanan1;
}

#iconUnggahT{
    margin: 10px;
    width: 15px;
    height: 15px;
    grid-area: kiri2;
}

#buttonUT{
    text-align: left;
    margin: 9px;
    background: #3D5A80;
    color: white;
    border: 0px;
    grid-area: kanan2;
}
#iconKotakT{
    margin: 10px;
    width: 15px;
    height: 15px;
    grid-area: kiri3;
}

#buttonKT{
    text-align: left;
    margin: 9px;
    background: #3D5A80;
    color: white;
    border: 0px;
    grid-area: kanan3;
}
#iconKelolaU{
    margin: 10px;
    width: 15px;
    height: 15px;
    grid-area: kiri4;
}

#buttonKU{
    text-align: left;
    margin: 9px;
    background: #3D5A80;
    color: white;
    border: 0px;
    grid-area: kanan4;
}
#iconTentangK{
    margin: 10px;
    width: 15px;
    height: 15px;
    grid-area: kiri5;
}

#buttonTK{
    text-align: left;
    margin: 9px;
    background: #3D5A80;
    color: white;
    border: 0px;
    grid-area: kanan5;
}

#date{
    padding-left: 95%;
}
