body{
    margin: 0vh 0vw 0vh 0vw;
}

.marginKiri{
    position: absolute;
    margin: 0px;
    width: 1vw;
    height: 100%;
    background-color: #293241;
}

#logoif{
    padding: 1vh 1vw 1vh 1vw;
}

.containerLogoIF{
    height: 100%;
    background-color: #e7e7e7;
    position: absolute;
    display: flex;
}

.header{
    position: relative;
    right: 0;
    height: 10.5vh;
    background-color: #293241;
    display: flex;
    margin-left: 1vw;
}

.garisSalam{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    margin-left: 22vw;
    align-self: center;
    background-color: white;
}



.tulisanHeader{
    position: relative;
    font-family: Open Sans, sans-serif;
    color: white;
    display: inline-flex;
}

.tulisanSatu{
    margin-left:23vw;
    width: 20vw;
    top: -3vh;
    position: absolute;
    font-size:1.5625vw;
}

.tulisanDua{
    width: 30vw;
    position: absolute;
    top: 4.4vh;
    font-size: 0.78125vw;
    margin-left: 23vw;
    display: block;
}

.flex_container{
    position: fixed;
    margin-left: 1vw;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.efek_border{
    border-style: inset;
    width: 41.619791666666664vw;
    height: 52.4vh;
    margin-right: 21.3359375vw;
    align-self: center;
    position: absolute;
    justify-self: center;
}

.content_grid{
    display: grid;
    column-gap: 3vw;
    grid-template-areas: "left right";
    grid-template-rows: 87vh;
    align-items: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
    position: fixed;
}

#ilustrasi{
    grid-area: left;
    height: 60%;
}

.login_form{
    row-gap: 11vh;
    width: 19.0234375vw;
    height: 54.724137931034484vh;
    grid-area: right;
    display: grid;
    grid-template-areas:
    "top"
    "mid"
    "bottom";
    grid-template-rows:5vh 15vh 5vh;
    font-family: Open Sans;
}

h1{
    font-size: 2.6041666666666665vw;
    grid-area: top;
    margin-top: 3vh;
}

input[type="submit"]{
    align-items: baseline;
    grid-area: bottom;
    border-radius: 30px;
    border: 0px;
    background-color: #3d5a80;
    color: white;
    font-size: 1.3020833333333333vw;
    font-family: Open Sans;
    margin-left: 4.557291666666667vw;
    margin-right: 4.557291666666667vw;
    height: 8.620689655172415vh;
}

::placeholder{
    color: rgb(186, 186, 186);
    font-family:Arial, Helvetica, sans-serif;
}

.form_input{
    display: grid;
    row-gap: 2.8735632183908044vh;
    grid-template-areas: 
    "atas"
    "bawah";
}

.email{
    align-self: baseline;
    grid-area: atas;
    row-gap: 0px;
    display: grid;
    grid-template-areas: auto;
}

#input_email{
    height: 2.8735632183908044vh;
    border-radius: 10px;
}

label{
    font-size: 1.171875vw;
    font-family: Open Sans;
}

.password{
    align-self: baseline;
    grid-area: bawah;
    display: grid;
    grid-template-areas: auto;
}

#input_pw{
    height: 2.8735632183908044vh;
    border-radius: 10px;
}