body{
    margin: 0px;
    margin-bottom: 0px;
}

.marginKiri{
    position: absolute;
    margin: 0px;
    width: 10px;
    height: 100%;
    background-color: #293241;
}

#logoif{
    margin: 11px 10px 10px 17px;
    width: 208px;
}

.containerLogoIF{
    height: 100%;
    background-color: #e7e7e7;
    position: absolute;
    display: flex;
}

.header{
    position: relative;
    width: auto;
    height: 78px;
    background-color: #293241;
    display: flex;
    margin-left: 10px;
}

.garisSalam{
    position: absolute;
    width: 1px;
    height: 49px;
    margin: 14.5px 0px 0px 300px;
    background-color: white;
}



.tulisanHeader{
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: white;
    display: inline-flex;
}

.tulisanSatu{
    position: absolute;
    margin: 10px 0px 0px 320px;
    font-weight: 1px;
    font-size: 24px;
    line-height: 33px;
}

.tulisanDua{
    margin: 47px 0px 0px 320px;
    font-size: 12px;
    line-height: 1;
}

.content_grid{
    display: grid;
    grid-template-areas: "left right";
    align-items: center;
    justify-self: center;
    justify-content: center;
}

#ilustrasi{
    grid-area: left;
    height: 60%;
}

.login_form{
    height: 394.8px;
    grid-area: right;
    display: grid;
    grid-template-areas:
    "top"
    "mid1"
    "mid2"
    "mid3"
    "mid4"
    "bottom";
}

h1{
    grid-area: top;
}

.login_form > :nth-child(2){
    grid-area: mid1;
}

.login_form > :nth-child(3){
    grid-area: mid2;
}

.login_form > :nth-child(4){
    grid-area: mid3;
}

.login_form > :nth-child(5){
    grid-area: mid4;
}

.login_formo > :nth-last-child(){
    grid-area: bottom;
}