body{
    margin: 0vh 0vw 0vh 0vw;
}

.marginKiri{
    position: absolute;
    margin: 0px;
    width: 1vw;
    height: 100%;
    background-color: #293241;
}

#logoif{
    padding: 1vh 1vw 1vh 1vw;
}

.containerLogoIF{
    height: 100%;
    background-color: #e7e7e7;
    position: absolute;
    display: flex;
}

.header{
    position: relative;
    right: 0;
    height: 10.5vh;
    background-color: #293241;
    display: flex;
    margin-left: 1vw;
}

.garisSalam{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    margin-left: 22vw;
    align-self: center;
    background-color: red;
}



.tulisanHeader{
    position: relative;
    font-family: Open Sans, sans-serif;
    color: red;
    display: inline-flex;
}

.tulisanSatu{
    margin-left:23vw;
    top: -0.5vh;
    position: absolute;
    display: block
    /* position: absolute;
    margin: 10px 0px 0px 320px;
    font-weight: 1px; */
    /* line-height: 33px; */
}

.tulisanDua{
    /* margin: 47px 0px 0px 320px;
    font-size: 12px;
    line-height: 1;
    font-weight: 1px; */
}

.inline_block{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.efek{
    border-style: inset;
    width: 610px;
    height: 394.8px;
    position: absolute;
}

.content_grid{
    display: grid;
    column-gap: 20px;
    grid-template-areas: "left right";
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#ilustrasi{
    grid-area: left;
    height: 60%;
}

.login_form{
    row-gap: 50px;
    width: 292.2px;
    height: 394.8px;
    grid-area: right;
    display: grid;
    grid-template-areas:
    "top"
    "mid"
    "bottom";
    font-family: Open Sans;
}

h1{
    font-size: 40px;
    grid-area: top;
    margin: 5px 0px 0px 0px;
}

input[type="submit"]{
    align-items: baseline;
    grid-area: bottom;
    border-radius: 10px;
    border: 0px;
    background-color: #3d5a80;
    color: white;
    font-size: 20px;
    font-family: Open Sans;
    margin-left: 70px;
    margin-right: 70px;
    height: 60px;
}

::placeholder{
    color: rgb(186, 186, 186);
    font-family:Arial, Helvetica, sans-serif;
}

.form_input{
    display: grid;
    row-gap: 20px;
    grid-template-areas: 
    "atas"
    "bawah";
}

.email{
    align-self: baseline;
    grid-area: atas;
    row-gap: 0px;
    display: grid;
    grid-template-areas: auto;
}

#input_email{
    height: 20px;
    border-radius: 10px;
}

label{
    font-size: 18px;
    font-family: Open Sans;
}

.password{
    align-self: baseline;
    grid-area: bawah;
    display: grid;
    grid-template-areas: auto;
}

#input_pw{
    height: 20px;
    border-radius: 10px;
}