<!DOCTYPE html>
<html>
<head>
    <title>Kotak Tinjauan</title>
    <script src = 'script/script.js' defer></script>
    <link rel="stylesheet" href="styling/KotakTinjauan.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body onload="realTimeClock()">
    <div class="marginKiri"></div>
    <div class="header">
        <div class="garisSalam"></div>
        <div class="containerLogoIF">
            <img src = logo/iflogo.png id="logoif">
        </div>
        <div class="tulisanHeader">
            <p class="tulisanSatu">Salam Akademik!</p>
            <p class="tulisanDua">Selamat datang di website Topik Skripsi Informatika UNPAR!</p>
        </div>
        <a href="/" id="sOut">
            <img src="icon/Sign_in.png" id="sign_out" alt="sOut">
        </a>
    </div>
    <div class = "home"> 
        <div id="infoUser">
        <!-- sesuai login -->
            <%=  %>  
            <div id="circle">
                <p id="first_letter"><%= inisial %> </p> <!-- kalo nama = Erwin Darsono, maka huruf = E -->
            </div>
            <p class="nama"><%= nama %></p> <!-- kalo nama = Erwin Darsono, maka = ERWIN DARSONO -->
            <!-- <p>6182001002@student.id</p> sesuai NPM/NIK, mahasiswa = student.com, dosen = lecturer.com, admin = admin.com -->
            <p class="email_user">6182001002@student.id</p>
        </div>
        <div class="wrapper">
            <div id="fitur">
                <div class="daftar_topik">
                    <img src = icon/Folder_alt_fill.png id="iconDaftarT">
                    <a href="home.ejs" id="DT">
                        <input type="button" id="buttonDT" alt="DT" name="daftarT" value="Daftar Topik">
                    </a>
                </div>
                <div class="unggah_topik">
                    <img src = icon/import_fill.png id="iconUnggahT">
                    <a href="unggah.ejs" id="UT">
                        <input type="button" id="buttonUT" alt="UT" name="unggahT" value="Unggah Topik">
                    </a>
                    
                </div>
                <div class="kotak_tinjauan">
                    <img src = icon/Message_fill.png id="iconKotakT">
                    <a href="tinjauan.ejs" id="KT">
                        <input type="button" id="buttonKT" alt="KT" name="kotakT" value="Kotak Tinjauan">
                    </a>
                    
                </div>
                <div class="kelola_user">
                    <img src = icon/user_add_alt_fill.png id="iconKelolaU">
                    <a href="kelola.ejs" id="KU">
                        <input type="button" id="buttonKU" alt="KU" name="kelolaU" value="Kelola User">
                    </a>
                    
                </div>
                <div class="tentang_kami">
                    <img src = icon/Info_fill.png id="iconTentangK">
                    <input type="button" id="buttonTK" name="tentangK" value="Tentang Kami">     
                </div>
            </div>
            <div class="garis_waktu"></div>
            <div id="real_day"></div>
            <div id="real_time"></div>
        </div>
        <div id="isiKU">
            <div id="isiKUsementara">
                Belum ada Review dari Dosen lain
            </div>
        </div>
    </div>
</body>
</html>