<!DOCTYPE html>
<html>
<head>
    <title>UnggahTopik</title>
    <script src = 'script/script.js' defer></script>
    <link rel="stylesheet" href="styling/UnggahTopik.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body onload="realTimeClock()">
    <div class="marginKiri"></div>
    <div class="header">
        <div class="garisSalam"></div>
        <div class="containerLogoIF">
            <img src = logo/iflogo.png id="logoif">
        </div>
        <div class="tulisanHeader">
            <p class="tulisanSatu">Salam Akademik!</p>
            <p class="tulisanDua">Selamat datang di website Topik Skripsi Informatika UNPAR!</p>
        </div>
        <a href="/logout" id="sOut">
            <img src="icon/Sign_in.png" id="sign_out" alt="sOut">
        </a>
    </div>
    <div class = "home"> 
        <div id="infoUser">
        <!-- sesuai login -->
            <div id="circle">
                <p id="first_letter"><%= inisial %> </p> <!-- kalo nama = Erwin Darsono, maka huruf = E -->
            </div>
            <p class="nama"><%= nama %></p> <!-- kalo nama = Erwin Darsono, maka = ERWIN DARSONO -->
            <!-- <p>6182001002@student.id</p> sesuai NPM/NIK, mahasiswa = student.com, dosen = lecturer.com, admin = admin.com -->
            <p class="email_user">6182001002@student.id</p>
        </div>
        <div class="wrapper">
            <div id="fitur">
                <div class="daftar_topik">
                    <img src = icon/Folder_alt_fill.png id="iconDaftarT">
                    <a href="/homeDsn" id="DT">
                        <input type="button" id="buttonDT" alt="DT" name="daftarT" value="Daftar Topik">
                    </a>                    
                </div>
                <div class="unggah_topik">
                    <img src = icon/import_fill.png id="iconUnggahT">
                    <a href="/unggahDsn" id="UT">
                        <input type="button" id="buttonUT" alt="UT" name="unggahT" value="Unggah Topik">
                    </a>                    
                </div>
                <div class="kotak_tinjauan">
                    <img src = icon/Message_fill.png id="iconKotakT">
                    <a href="/tinjauanDsn" id="KT">
                        <input type="button" id="buttonKT" alt="KT" name="kotakT" value="Kotak Tinjauan">
                    </a>                    
                </div>
            </div>
            <div class="garis_waktu"></div>
            <div id="real_day"></div>
            <div id="real_time"></div>
        </div>
        <div id="UnggahTopik">  
            <div id="isiUT" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <!-- <input type="image" src="icon/Close.png" id="ic2" onclick="off1()"> -->
                </div>
                <form id="formUT" method="post" class="form_user" action="/addTopikDsn" enctype="multipart/form-data">
                    <div id="formUT1">
                        <label for="lang">Judul Topik</label>
                        <br>
                        <input type="text" name="JudulTopik" id="JudulT">
                        <br>                                            
                    </div>
                    <div id="formUT2">
                        <label for="lang">Bidang Peminatan</label>
                        <br> 
                        <select name="BidangPeminatan" id="BidangP">
                            <option value="Computing Science">Computing Science</option>
                            <option value="Data Science">Data Science</option>
                        </select>  
                        <br>
                    </div>
                    
                    <div id="garisV">

                    </div>
                    <div id="formUT3">
                        <label for="lang">Kode Topik</label>
                        <br> 
                        <input type="text" name="KodeTopik" id="KodeT">
                        <br>
                    </div>
                    <div id="formUT4">
                        <label for="lang">Jenis Skripsi</label>
                        <br>
                        <select name="JenisSkripsi" id="jenisS">
                            <option value="reguler">Reguler</option>
                            <option value="bintang">Bintang</option>
                        </select>
                        <br>
                    </div>
                    <div id="formUT5">
                        <input type="submit" value="submit" id="submitUT" onclick="onUT()">
                    </div>
                    <div id="formUT6">
                        <a href="https://drive.google.com/drive/u/0/folders/1IlMBecPmHCRb8jA67hSDHqNn21rfIzMC">Link drive</a>
                    </div>
                </form>
            </div>          
        </div>
    </div>
</body>
</html>
